@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 27% 22%; /* màu chính */
    --primary: 231 27% 22%; /* #282e46 */
    --primary-foreground: 0 0% 100%; /* trắng */
    --secondary: 231 27% 92%; /* xanh chàm rất nhạt */
    --secondary-foreground: 231 27% 22%;
    --accent: 220 30% 90%; /* xám xanh dịu */
    --accent-foreground: 231 27% 22%;
    --muted: 231 27% 95%;
    --muted-foreground: 231 27% 40%;
    --border: 231 27% 85%;
    --input: 231 27% 90%;
    --ring: 231 27% 22%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
  }

  .dark {
    --background: 231 27% 10%;
    --foreground: 0 0% 100%;
    --primary: 231 27% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 27% 16%;
    --secondary-foreground: 0 0% 100%;
    --accent: 231 27% 18%;
    --accent-foreground: 0 0% 100%;
    --muted: 231 27% 14%;
    --muted-foreground: 231 27% 65%;
    --border: 231 27% 18%;
    --input: 231 27% 18%;
    --ring: 231 27% 70%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
